<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="userDao" class="ioc.UserDaoImpl"></bean>

	<bean name="UserService" class="ioc.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean name="demo" class="mavenDemo.Demo">
		<property name="userService" ref="UserService"></property>
	</bean>
	
</beans>
